/* Colors */

:root {
    --main-bg: rgb(26, 26, 26);
    --sidebar-bg: #1F1F1F;
    --sidebar-item-bg: #353535;
    --text-col-1: white;
    --text-col-2: gray;
    --text-col-3: black;
    --accent-col: rgb(67, 131, 252);
    --accent-sub: rgb(28, 72, 153);
    --input-col: white;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--main-bg);
    color: var(--text-col-1);
    font-family: "Segoe UI", Arial, sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

/* Sidebar Stuff */

.sidebar {
    background-color: var(--sidebar-bg);
    color: var(--text-col-1);
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 20rem;
    max-width: 100%;
}

.sidebar a {
    color: var(--text-col-1);
    text-decoration: none;
    line-height: 48px;
    padding-left: 32px;
    margin-top: 10px;
    font-size: large;
    transition: 0.1s;
    border: 0px solid var(--accent-col);
}

.sidebar a:hover {
    background-color: var(--sidebar-item-bg);
    padding-left: 40px;
    border-left: 3px solid var(--accent-col);
}

/* Content Stuff */

.main {
    width: 60rem;
    max-height: 100vh;
    box-sizing: border-box;
    overflow-y: auto;
    color: var(--text-col-1);
    padding: 50px;
    max-width: 100%;
}

section h1, section h2, section h3, section h4 {
    font-weight: 100;
    margin: auto;
}

section h1 {
    font-size: xx-large;
}

section p {
    line-height: 1.4rem;
    text-align: justify;
    font-weight: lighter;
}

section ul {
    padding-left: 32px;
    font-size: 0.9rem;
    line-height: 1.4rem;
}

.fixedbtn {
    display: none;
    background-color: var(--accent-col);
    color: var(--text-col-1);
    position: fixed;
    top: 16px;
    right: 16px;
    box-shadow: 0px 0px 5px black;
    aspect-ratio: 1/1;
    font-size: .8rem;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
}

/* Input Stuff */

input {
    height: 2.2rem;
    box-sizing: border-box;
}

input[type=text] {
    color: var(--text-col-2);
    background-color: var(--input-col);
    border: 3px solid var(--text-col-2);
    text-decoration: none;
    height: 2.2rem;
    padding-left: 12px;
    font-size: large;
    transition: 0.1s;
    width: 26rem;
    max-width: 85vw;
    box-sizing: border-box;
}

input[type=text]:hover {
    border: 3px solid var(--accent-col);
}

.sidebar input {
    margin-left: 18px;
    margin-right: 18px;
    margin-top: 10px;
    line-height: 2.2rem;
    box-sizing: border-box;
    max-width: 80%;
}

select {
    color: var(--text-col-3);
    background-color: var(--input-col);
    border: 3px solid var(--text-col-2);
    text-decoration: none;
    height: 2.2rem;
    padding-left: 12px;
    font-size: large;
    cursor: pointer;
    width: 26rem;
    max-width: 85vw;
}

.group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: max-content;
}

.group label {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: larger;
}

.group-hor {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.group-hor label {
    padding-left: 8px;
}

hr {
    margin-top: 8px;
    margin-bottom: 8px;
}

button {
    background-color: var(--accent-col);
    color: var(--text-col-1);
    width: 50%;
    padding: 18px;
    font-size: large;
    border: 0px;
    transition: background-color 0.2s;
    cursor: pointer;
    margin-top: 1.2rem;
    max-width: 85vw;
}

button:hover {
    background-color: var(--accent-sub);
}

/* Thin Screens */
@media only screen and (max-width: 800px) {
    .sidebar {
        display: none;
        padding-top: 4.2rem;
    }

    .mobilesbar {
        display: flex;
        width: 100%;
        position: fixed;
    }

    .fixedbtn {
        display: flex;
    }

    .main {
        padding: 24px;
    }

    section {
        justify-content: center;
    }

    button {
        width: 100%;
    }
  }